<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EduQuiz"
        tools:targetApi="31">
        <activity
            android:name=".teacheractivities.CreateQuestionBankActivity"
            android:exported="false" />
        <activity
            android:name=".teacheractivities.EditQuestionActivity"
            android:exported="false" />
        <activity
            android:name=".teacheractivities.ManageStudentsActivity"
            android:exported="false" />
        <activity
            android:name=".teacheractivities.ManageQuestionsActivity"
            android:exported="false" />
        <activity
            android:name=".teacheractivities.QuestionBankQuestionModel"
            android:exported="false" />
        <activity
            android:name=".teacheractivities.AddQueToQBActivity"
            android:exported="false" />
        <activity
            android:name=".teacheractivities.QuestionBankActivity"
            android:exported="false" />
        <activity
            android:name=".teacheractivities.QuizResultActivity"
            android:exported="false" />
        <activity
            android:name=".studentactivities.ShowStudentResultActivity"
            android:exported="false" />
        <activity
            android:name=".studentactivities.AttemptQuizActivity"
            android:exported="false" />
        <activity
            android:name=".teacheractivities.EditQuizActivity"
            android:exported="false" />
        <activity
            android:name=".teacheractivities.ViewQuizActivity"
            android:exported="false" />
        <activity
            android:name=".teacheractivities.ReviewQuizActivity"
            android:exported="false" />
        <activity
            android:name=".studentactivities.StudentsSettingsActivity"
            android:exported="false" />
        <activity
            android:name=".studentactivities.QuizStatisticsActivity"
            android:exported="false" />
        <activity
            android:name=".studentactivities.LeaderboardActivity"
            android:exported="false" />
        <activity
            android:name=".studentactivities.UpcomingQuizzesActivity"
            android:exported="false" />
        <activity
            android:name=".studentactivities.MyQuizzesActivity"
            android:exported="false" />
        <activity
            android:name=".studentactivities.PreviousStudentQuizzesActivity"
            android:exported="false" />
        <activity
            android:name=".studentactivities.AvailableQuizzesActivity"
            android:exported="false" />
        <activity
            android:name=".studentactivities.CustomizedQuizActivity"
            android:exported="false" />
        <activity
            android:name=".teacheractivities.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".teacheractivities.QuizOverviewActivity"
            android:exported="false" />
        <activity
            android:name=".teacheractivities.QuizSchedulerActivity"
            android:exported="false" />
        <activity
            android:name=".teacheractivities.PreviousQuizesActivity"
            android:exported="false" />
        <activity
            android:name=".teacheractivities.AddQuestionActivity"
            android:exported="false" />
        <activity
            android:name=".teacheractivities.CreateQuizActivity"
            android:exported="false" />
        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:theme="@style/ShowActionBar" />
        <activity
            android:name=".ContactUsActivity"
            android:exported="false"
            android:theme="@style/ShowActionBar" />
        <activity
            android:name=".AboutUsActivity"
            android:exported="false"
            android:theme="@style/ShowActionBar" />
        <activity
            android:name=".HomeActivity"
            android:exported="false"
            android:theme="@style/ShowActionBar" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
    </application>

</manifest>